.sidebar {
  display: none;
}

.sidebar .brand {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  background-image: url('/images/logo.png');
  background-size: 138px 43px;
  background-repeat: no-repeat;
  background-position: center center;  
}

@media (min-width: 992px) {
  .sidebar {
    display: block;
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #E0E6E8;
  }

  .sidebar h4 {
    margin-top: 100px;
    margin-left: 5%;
  }

  .sidebar .channels {
    margin-left: 5%;
    margin-top: 100px;
  }
}